.header{

	
}

.navbar{
	position:fixed;
	background-color: transparent!important;
}

#navbar-main {
	transition: 400ms;
}

.header-collapse{
	background-color: $color-principal !important;
	transition: 400ms;
}

.logo {
	padding: 0.5em;
	transition:400ms;
    max-width: 300px;
}


