.header{
	height: 0px;
	
}
#navbar-main {
	background-color: rgba(0,0,0,0);
	transition: 400ms;
}

.header-collapse{
	background-color: $color-principal !important;
	transition: 400ms;
}

.logo {
	transition:400ms;
}


