$color-text-cards: white;
$color-border-title: $color-principal;
$color-background-text: rgba(0,0,0,0.45);

#block-views-block-slide-articulos-principal-block-1{
	position: absolute;
	margin: 26% 30% 0px 30%;
	width: 40%;	
}

.content {
	
}

#main{
	/*padding: 0%;*/

}
#content {
	/*padding: 0%;*/
}

.slideBackground{
	
}

.textSlide{
	position:absolute;
}

.textSlideContainer{
	top:3%;
	border-radius:10px;
	margin: 8% 10% 0 10%;
	h1{
		color:white;
		border-bottom: 3px solid $color-border-title;
        }
        h2{
		color:white;
        }
	
}

.botonSlide {
	font-size: 2em !important;
	color: white !important;
	background-color: darkorange !important;
}


#block-views-block-publicacion-imagen-block-1{
	@include viewFormat();
}
 
.publicationCardContainer{
	padding: 0px 0px 0px 0px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;
}

.textoPublicacion{
	position: absolute;
	color:$color-text-cards;
	margin: 5%;
	padding: 2%;
	/*top: 16%;*/
	background-color: $color-background-text;
	border-top: $color-border-title solid 1px;
	div {
		border-top: $color-border-title solid 2px;
		span{
			display:block;
			margin: 10px 0px 0px 0px;
		}
	}
}

.subtituloPublicacion{
	display:block;
	margin: 0 0 8% 0;
}
	


@media (max-width: 768px){
	.textSlideContainer{
		h2{
			display:none
		}
	}
	#block-views-block-publicacion-imagen-block-1 {
		margin-top: 1%;
		padding: 0;
	}

	.botonSlide{
		display:none !important;
	}

	.highlighted{
		margin-top:96px
	}
	.navbar{
		background-color: $color-border-title !important;
	}
}

