#block-views-block-nosotros-block-1{
	text-align: center;
	@include viewFormat();
}
.textoPagNosotros{
	p{
	    padding: 20px 0 0 0;
	}
	text-align: center;
}
.centrarContenido{
	align-content: center;
	justify-content: center;
	display: flex;
}