.perfilCampo{
background-color: #D6855C;
text-align: center;
font-size: 30px;
	a{
		color: white;
		text-decoration: none;
	}
	a:hover {
  			text-decoration: none;
  			color: white;
	}	
}

.perfilTitulo{
	color:white !important;
}

.perfilEmail{
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: darkorange;
	font-weight: bold;
	color: white;
}
