.perfilCampo{
background-color: #D6855C;
text-align: center;
font-size: 25px;
	a{
		color: white;
		text-decoration: none;
	}
	a:hover {
  			text-decoration: none;
  			color: white;
	}	
}

.perfilTarjeta{
	padding-top: 50px;
}

.perfilEmail{
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: darkorange;
	color: white;
}
