<div class="card bg-dark text-white">
  <img class="card-img" src="{{ field_img_areas }}" alt="Card image">
  <div class="card-img-overlay">
    <h2 class="card-title">{{  	field_titulo_areas }}</h2>
  </div>
</div>
