<div class="container-fluid w-100 containerMargin">
<div class="row no-gutters">
<div class="col d-lg-block imgAreas">
  {{ content.field_img_areas.0 }}
</div>
<div class="col container contenidoAreas">
    <h2 class="card-title">{{ content.field_titulo_areas.0 }}</h2>
    {{ content.field_logo.0 }}
    <p >{{ content.body.0 }}</p>
</div>
</div>
</div>