<div class="container containerMargin">
<div class="col-md-auto">
<div class="card">
<div class="card-img imgAreas">
  {{ content.field_img_areas.0 }}
</div>
  <div class="card-img-overlay contenidoAreas">
    <h2 class="card-title">{{ content.field_titulo_areas.0 }}</h2>
    {{ content.field_logo.0 }}
  </div>
    <div class="card-body contenidoBody">
    <p class="card-text">{{ content.body.0 }}</p>
  </div>
</div>
</div>
</div>