<div class="container containerMargin">
<div class="col-md-auto">
<div class="col-lg-6 imgAreas">
  {{ content.field_img_areas.0 }}
</div>
  <div class="col-lg-6 contenidoAreas">
    <h2 class="card-title">{{ content.field_titulo_areas.0 }}</h2>
    {{ content.field_logo.0 }}
    <p class="card-text">{{ content.body.0 }}</p>
</div>
</div>
</div>