<div class="background_hero" style="background-image:url('{{ content.field_background_image.0 }}')">
	<div class="texto_hero" id="textHero">
    <h1>{{ content.field_hero_title.0 }}</h1>
    <h2>{{ content.field_hero_subtitle.0 }}</h2>
    <a href="/nosotros" role="button" class="btn btn-primary">{{ content.field_hero_button.0 }}</a>
    <div>
</div>