<div class="container-fluid w-100 containerMargin">
<div class="row">
<div class="col d-none d-lg-block imgAreas" style="background-image:url('{{ content.field_img_areas.0 }}')">
</div>
<div class="col container contenidoAreas">
    <h2 class="card-title">{{ content.field_titulo_areas.0 }}</h2>
    <img src={{ content.field_logo.0 }}>
    <p >{{ content.body.0 }}</p>
</div>
</div>
</div>